@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    /* overflow: hidden; */
    background-color: rgba(0, 0, 0, 0.445);
}

/* Top Navigation section start */
.top-header {
    background-color: gray;
    height: 9vh;
    /* border: 1px solid #ff0000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0 10%;
    /* border: 1px solid #07e612; */
}


.top-header-container>ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.top-header-container>ul>li {
    list-style: none;
}

.top-header-container>.notifications {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-header-container>.notifications>img:not(.arrow) {
    height: 20px;
    width: auto;
    margin: 5px;
}

.top-header-container>.notifications>.arrow {
    height: 7px;
    width: auto;
    margin-left: 6px;
}

/* Top Navigation section end */

/* Top Recomended section start  */
.bottom {
    /* height: 100vh; */
    color: white;
    font-size: 0.5rem;
}

.bottom-recomended {
    display: flex;
    gap: 30px;
    /* margin: 0 10%; */
    padding: 2.5% 10% 1% 10%;
}

.bottom-line {
    background-color: #fff;
    height: 1px;
    margin: 0 10%;
}

.green-line {
    background-color: rgb(0, 255, 0);
    height: 3px;
    width: 7%;
}

/* Top Recomended section end  */


.img-card > img {
    border-radius: 3%;
}

.card-grid {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* border: 2px solid red ; */
    /* background-color: rgb(255, 255, 255); */
    margin: 3% 3% 1% 14%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    grid-template-rows: repeat(auto, auto);
    grid-gap: 9%;
}


/* .card-grid>.cards>.add-btn {
    background-color: #ffffffd5;
    border-radius: 50%;
} */

/* .img-card {
    height: auto;
    width: 82%;
    } */
    
    .img-card:hover:not(.add-btn) {
        box-shadow: 0 0 28px rgb(0, 183, 255);
        transform: scale(1.1);
        transition: box-shadow 0.1s ease-in-out;
        border-radius: 7px;
    /* border: 7px solid green;  */
    /* overflow: hiodden; */
}

/* Middle Body section end */